*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(138, 138, 225) ;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem; rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: brown;
    background-color: yellow;
}
#reset-btn{
padding: 1rem;
font-size: 1.5rem;
background-color: black;
border: 1rem;
color: white;
border: none;
}
#new-btn{
    
padding: 1rem;
font-size: 1.5rem;
background-color: black;
border: 1rem;
color: white;
border: none;
}
#msg{
    color: red;
    font-size: 4vmin;
    border-color: black;
    border: none;

}

.hide{
    display: none;
}